<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Internationalize AngularJS: Lightning Talk</title>

		<meta name="description" content="Presentaion slides from the ngEurope Lightning Talk on the same topic">
		<meta name="author" content="Rahul Doshi">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">

		<link rel="stylesheet" href="css/theme.css">

        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'bower_components/reveal.js/css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
            <aside class="logos">
                <a href="http://angularjs.org">
                    <img class="angularjs" src="img/angularjs.png">
                </a>
                <a href="http://doshprompt.github.io/angular-localization">
                    <small>
                        <i class="fa fa-plus"></i>
                    </small>
                    <i class="fa fa-globe"></i>
                </a>
            </aside>

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1 style="margin: 50px 0 .3em">
                        Internationalize AngularJS
                    </h1>
					<h3 style="margin-bottom: 1em">
                        Lightning Talk
                    </h3>
					<p>
						<small>Presented by <a href="mailto:rahuld223@yahoo.com">Rahul Doshi</a> | <a href="http://twitter.com/doshprompt">@doshprompt</a></small>
					</p>
                    <p style="margin-top: -25px">
                        <small>
                            from
                            <a href="http://dailymotion.com">
                                <img src="img/dailymotion.png" class="logo-dailymotion">
                            </a>
                        </small>
                    </p>
				</section>

                <section>
                    <h2>Architecture</h2>

                    <p>
                        Our solution is based on a simple architecture.
                        We will have a folder for each language that we would like to support.
                        Inside will be localized resource files
                        for each route or module we want to support.
                    </p>

                    <p>
                        We will also pick a default language
                        that will be used to fall back to the site’s native language
                        if a given user’s language is not supported.
                    </p>

                    <p>
                        100% of the code is run on the front-end within the browser,
                        and no special server-side support needs to be provided.
                    </p>
                </section>

                <section>
                    <p>The proposed directory structure:</p>

<pre><code>lang
├── en-US
│   ├── common.json
│   ├── login.json
│   ├── home.json
│   └── ...
├── fr-FR
│   ├── common.json
│   ├── login.json
│   ├── home.json
│   └── ...
└── ...
</pre></code>

                    <p>Below is an example of the file format:</p>

<pre><code class="json">{
"cancel": "Cancel",
"no": "No",
"ok": "OK",
"yes": "Yes"
}</pre></code>
                </section>

                <section>
                    <h2>The Service</h2>

                    <p>
                        A service will form the core of our localization engine,
                        providing an interface that will be responsible for checking the user's language settings
                        and requesting the appropriate resource based on the language.
                    </p>
                    <p>
                        It will also provide several methods,
                        a lookup method that will return a localized string for a given key from the loaded resource file,
                        a way to get/set the locale, and finally, a way to setup some defaults. 
                    </p>
                    <p>
                        Lastly, it will notify us (via promises) when an individual file or a group of files
                        has been successfully loaded into memory and is ready for use.
                    </p>
                </section>

                <section>
                    <p>JavaScript:</p>
<pre><code class="javascript">$scope.strings = {};
locale.ready('common').then(function() {
    $scope.strings.helloWorld = locale.getString('common.helloWorld');
});</pre></code>

                    <br>

                    <p>HTML:</p>
<pre><code class="html">&lt;p&gt;{{ strings.helloWorld }}&lt;/p&gt;</pre></code>

                    <small>
                        <a href="http://plnkr.co/edit/xCeADJ1LidsObWOhStjL?p=preview" target="_blank">
                            Edit in Plunker
                            <i class="fa fa-pencil"></i>
                        </a>
                    </small>

                    <p style="padding-top: 50px">Output:</p>
                    <p><code>Hello World!</code></p>
                    
                    <aside class="notes">
                        This is naive as it requires you to manually refresh all the strings
                        through the controller upon a change in language invoked by the user.
                        Also does not take advantage of angular's excellent two-way bindings.
                    </aside>
                </section>

                <section>
                    <h2>Implementation: Take Two</h2>

                    <p>Using Fliters:</p>

<pre><code class="html">&lt;p&gt;{{ 'common.helloWorld' | i18n }}&lt;/p&gt;</pre></code>

                    <small>
                        <a href="http://plnkr.co/edit/mTsVW5GLdKsgMGOh6FhM?p=preview" target="_blank">
                            Edit in Plunker
                            <i class="fa fa-pencil"></i>
                        </a>
                    </small>

                    <p style="padding-top: 50px">Output:</p>
                    <p><code>Hello World!</code></p>
                </section>

                <section>
                    <h2>Performance Considerations</h2>

                    <p>Improvements with a Directive:</p>

<pre><code class="html">&lt;p data-i18n="common.helloWorld"&gt;&lt;/p&gt;</pre></code>

                    <small>
                        <a href="http://plnkr.co/edit/OcsJxpOHZhvVirjjMiaJ?p=preview" target="_blank">
                            Edit in Plunker
                            <i class="fa fa-pencil"></i>
                        </a>
                    </small>

                    <p style="padding-top: 50px">Output:</p>
                    <p><code>Hello World!</code></p>
                </section>

                <section>
                    <h2>Inline Substitutions</h2>

                    <p>example.json</p>

<pre><code class="json">{
    "nameOuput": "My name is %fullname"
}</code></pre>

                    <p>Filter:</p>

<pre><code class="html">&lt;p&gt;{{ 'example.nameOutput' | i18n:'Rahul Doshi' }}&lt;/p&gt;</pre></code>

                    <p>Directive:</p>

<pre><code class="html">&lt;p data-i18n="example.nameOutput" data-fullname="Rahul Doshi"&gt;&lt;/p&gt;</pre></code>

                    <small>
                        <a href="http://plnkr.co/edit/eaFnYr8JvqTCQqBL4b24?p=preview" target="_blank">
                            Edit in Plunker
                            <i class="fa fa-pencil"></i>
                        </a>
                    </small>
                </section>

                <section>
                    <h2>Setting Localized Attributes</h2>

                    <p>
                        Good for when you want to avoid angular's interpolation
                        in setting certain attributes on the DOM element
                        such as placeholder for an input.
                    </p>

<pre><code class="html">&lt;input data-i18n-attr="{placeholder: 'login.emailPrompt'}"&gt;</code></pre>

                    <small>
                        <a href="http://plnkr.co/edit/lYTww7oNvVwvEYDjpEob?p=preview" target="_blank">
                            Edit in Plunker
                            <i class="fa fa-pencil"></i>
                        </a>
                    </small>
                </section>

                <section>
                    <h2 style="margin-bottom: 0px">Pluralization</h2>
                    <i style="margin-bottom: 20px; display:block">
                        (Experimental -- using inside ng-pluralize)
                    </i>

                    <p>In your controller:</p>

<pre><code class="javascript">$scope.numCount = 1;
$scope.pluralStrings = {
    nobodyIsViewing: 'common.nobodyIsViewing',
    onePersonIsViewing: 'common.onePersonIsViewing',
    manyPeopleAreViewing: 'common.manyPeopleAreViewing'
};
</code></pre>

                    <p>On the page:</p>

<pre><code class="html">&lt;input type="number" min="0" data-ng-model="personCount"&gt;
&lt;span
    data-ng-pluralize
    data-count="personCount"
    data-when="{
        '0': '{{ pluralStrings.nobodyIsViewing | i18n }}',
        '1': '{{ pluralStrings.onePersonIsViewing | i18n }}',
        'other': '{{ pluralStrings.manyPeopleAreViewing | i18n:personCount }}'
    }"&gt;
&lt;/span&gt;</pre></code>

                <small>
                    <a href="http://plnkr.co/edit/0qgrg1M5wl7UDgRPgZNm?p=preview" target="_blank">
                        Edit in Plunker
                        <i class="fa fa-pencil"></i>
                    </a>
                </small>
                </section>

                <section>
                    <h2>Gender</h2>

                    <p>Experimental: using with ng-switch</p>

<pre><code class="html">&lt;div data-ng-switch="user.gender"&gt;
&lt;span&gt; data-ng-switch-when="m" data-i18n="common.male"&gt;&lt;/span&gt;
&lt;span&gt; data-ng-switch-when="f" data-i18n="common.female"&gt;&lt;/span&gt;
&lt;/div&gt;</pre></code>

                    <p>ng-if also works with filter</p>
<pre><code class="html">Gender:
&lt;span data-ng-if="user.gender == 'm'"&gt;{{ 'common.male' | i18n }}&lt;/span&gt;
&lt;span data-ng-if="user.gender == 'f'"&gt;{{ 'common.female' | i18n }}&lt;/span&gt;
</pre></code>


                    <small>
                        <a href="http://plnkr.co/edit/8SMDBqhxl5aq2rTggBiA?p=preview" target="_blank">
                            Edit in Plunker
                            <i class="fa fa-pencil"></i>
                        </a>
                    </small>
                </section>

                <section>
                    <h2>
                        <a href="https://www.npmjs.org/package/grunt-angular-localization" target="_blank">
                            grunt-angular-localization
                        </a>
                    </h2>

                        <img class="screenshot" src="img/grunt-angular-localization.gif">
                </section>

                <section>
                    <h2>
                        <a href="http://doshprompt.github.io/angular-localization" target="_blank">
                            angular-localization
                        </a>
                    </h2>

                    <img src="img/angular-localization.png" class="screenshot">
                </section>
			</div>
		</div>

		<script src="bower_components/reveal.js/lib/js/head.min.js"></script>

		<script src="bower_components/reveal.js/js/reveal.min.js"></script>
		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{
                        src: 'bower_components/reveal.js/lib/js/classList.js',
                        condition: function () {
                            return !document.body.classList;
                        }
                    },
					{
                        src: 'bower_components/reveal.js/plugin/markdown/marked.js',
                        condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }
                    },
					{
                        src: 'bower_components/reveal.js/plugin/markdown/markdown.js',
                        condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }
                    },
					{
                        src: 'bower_components/reveal.js/plugin/highlight/highlight.js',
                        async: true,
                        callback: function () {
                            hljs.initHighlightingOnLoad();
                        }
                    },
					{
                        src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js',
                        async: true,
                        condition: function () {
                            return !!document.body.classList;
                        }
                    },
					{
                        src: 'bower_components/reveal.js/plugin/notes/notes.js',
                        async: true,
                        condition: function() {
                            return !!document.body.classList;
                        }
                    }
				]
			});
		</script>
	</body>
</html>
